# Copyright Contributors to the Open Cluster Management project


# Directories
vendor
test/unit/coverage
examples/bin
bin

# Files
.go
.vscode
coverage.out
gosec.json
report.json
.DS_Store
kind_kubeconfig.yaml

# test outputs
test/functional/tmp
test/functional/coverage
kind_kubeconfig.yaml
test/functional/functional.test

