# Copyright Red Hat


# Directories
vendor
test/unit/coverage
examples/bin
bin

# Files
.go
.vscode
coverage.out
gosec.json
report.json
.DS_Store
kind_kubeconfig.yaml

# test outputs
test/functional/tmp
test/functional/coverage
kind_kubeconfig.yaml
test/functional/functional.test
.testenv

/docs/tools/applier.go
/docs/help.tar.gz
/docs/help.zip